@using demo_ver1.Components.MapView.Configuration


<div class="d-flex flex-column">
	<div class="d-flex flex-row">
		<div class="flex-grow-1">
			<AreaMapNameConfiguration />
		</div>
		<Divider Type="DirectionVHType.Vertical" />
		<div class="flex-grow-1">
			<AreaMapParameterConfiguration />
		</div>
	</div>

	<Divider />
	<AreaMapImageConfiguration />
</div>
