@inherits LayoutComponentBase

<div class="position-relative d-flex flex-column">
    <main class="flex-grow-1">
        <div class="w-100 h-100 position-relative overflow-hidden">
            <div class="position-absolute w-100 h-100 overflow-hidden" style="top: 0; left: 0;">
                @Body
            </div>
        </div>
    </main>
</div>

@code {

}
